.buttonSec button {
	width: 35%;
	padding: 15px;
	border: 0;
	outline: none;
	color: white;
	border-radius: 8px;
	font-size: 15px;
	letter-spacing: 2px;
	font-weight: bold;
	box-shadow: 0 8px 18px rgba(0, 0, 0, 0.17);
	background: linear-gradient(166.04deg, #bafb67 -5.37%, #00d23a 196.64%);
}
.container {
	padding-top: 30px;
	height: 100vh;

	text-align: center;
}
.cardContainer {
	display: flex;

	justify-content: center;
	flex-wrap: wrap;
}
.cardContainer p {
	margin: 0;
	color: black;
}
.cardContainer img {
	border-radius: 11px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.21);
}
.desc {
	margin: 0px 45px;
}
.gridContainer {
	padding-bottom: 20px;
}
.main > p {
	opacity: 0.7;
}

.main {
	color: #384f7d;
}
