.arrows {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.ball2 {
	position: absolute;
	top: 50%;
	left: 80%;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background: linear-gradient(
		236deg,
		rgba(250, 223, 208, 0.577468487394958) 35%,
		rgba(250, 223, 208, 1) 100%
	);
	animation-name: ball2;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: 0s;
	animation-play-state: running;
}
.button {
	margin-top: 45px;
	cursor: pointer;
	padding: 10px 20px;
	background-color: #d3d3d3;
	border: none;
	outline: none;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	border-bottom: 1px solid gray;
}
.ball1 {
	position: absolute;
	top: -50%;
	right: 70%;
	background: linear-gradient(
		230deg,
		rgba(148, 187, 233, 1) 68%,
		rgba(238, 174, 202, 0.7) 100%
	);
	height: 100px;
	width: 100px;
	border-radius: 50%;
	animation-name: ball1;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: 0s;
	animation-play-state: running;
}
.bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contain {
	position: relative;
	padding-top: 110px;
}

.link {
	color: #384f7d;
	font-weight: bold;
	margin-top: 30px;
	font-size: 18px;
}

.left,
.right {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: #7aed57;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.38);
}
.left {
	margin-left: 90px;
}
.main {
	color: #384f7d;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.right {
	margin-right: 90px;
}
.text {
	text-align: center;
}

@keyframes ball1 {
	0% {
		top: 50%;
		right: 70%;
		transform: scale(1.5);
	}
	30% {
		transform: scale(0.5);
		top: 70%;
		right: 50%;
		transform: scale(1);
	}
	50% {
		transform: scale(0.35);
		top: 70%;
		right: 30%;
	}
	70% {
		top: 60%;
		right: 40%;
		transform: scale(0.5);

		/* top: 40%;
		right: 50%; */
	}
	100% {
		transform: scale(1.5);
		top: 30%;
		right: 70%;
	}
}
@keyframes ball2 {
	0% {
		top: 50%;
		right: 70%;
		transform: scale(1.5);
	}
	30% {
		transform: scale(0.5);
		top: 80%;
		right: 40%;
		transform: scale(1);
	}
	50% {
		transform: scale(0.35);
		top: 70%;
		left: 30%;
	}
	70% {
		top: 60%;
		right: 40%;
		transform: scale(0.5);
	}
	100% {
		transform: scale(1.5);
		top: 30%;
		right: 70%;
	}
}
@media (max-width: 415px) {
	.contain {
		padding-top: 50px;
	}
	@keyframes ball1 {
		0% {
			top: 50%;
			right: 70%;
			transform: scale(1);
		}
		30% {
			transform: scale(0.5);
			top: 70%;
			right: 50%;
			transform: scale(0.5);
		}
		50% {
			transform: scale(0.35);
			top: 70%;
			right: 30%;
		}
		70% {
			top: 60%;
			right: 40%;
			transform: scale(0.5);

			/* top: 40%;
			right: 50%; */
		}
		100% {
			transform: scale(0.75);
			top: 30%;
			right: 70%;
		}
	}
	@keyframes ball2 {
		0% {
			top: 50%;
			right: 70%;
			transform: scale(0.5);
		}
		30% {
			top: 80%;
			right: 40%;
			transform: scale(0.8);
		}
		50% {
			transform: scale(0.35);
			top: 70%;
			left: 30%;
		}
		70% {
			top: 60%;
			right: 40%;
			transform: scale(0.5);
		}
		100% {
			transform: scale(0.5);
			top: 30%;
			right: 70%;
		}
	}
}
